include ../mixin-svg-use

div#bye-screen.content-wrap.is-hidden
    div.content-container
        div.anim-slot
            img(src='img/bye.gif')
        p.mess-action Спасибо за общение! Хорошего дня.