div#action-screen.content-wrap.is-hidden
    div.content-container
        p#plh1.mess-prim Уважаемый клиент, вы&nbsp; можете не&nbsp;ждать очереди и&nbsp;выполнить операцию в&nbsp;Личном&nbsp;кабинете. <br> Наш консультант поможет вам в&nbsp;этом

        p#plh2.mess-action Хотите продолжить обслуживание с&nbsp;консультантом?

    div.button-bar
        //button.btn Помощь консультанта
        //button.btn.btn_nope Спасибо, не надо