include ../mixin-svg-use

div#start-menu.content-wrap
    div.tiled-menu.small-tiles.sale-1-menu
        div.tiled-menu__tile.js-action(data-action='say_autopay_gkh' data-picture='2' data-title='slide-title')
            div.card
                div.card__ico
                    img(src='img/sale-1/s-autopay-jkh.png')
                h3.card__title Автоплатеж ЖКХ

        div.tiled-menu__tile.js-action(data-action='say_autopay_mobile' data-picture='1')
            div.card
                div.card__ico
                    img(src='img/sale-1/s-autopay-mobile.png')
                h3.card__title Автоплатеж за&nbsp;сотовую связь

        div.tiled-menu__tile.js-action(data-action='say_autopay_gibdd' data-picture='5')
            div.card
                div.card__ico
                    img(src='img/sale-1/s-autopay-gibdd.png')
                h3.card__title Автоплатеж ГИБДД

        div.tiled-menu__tile.js-action(data-action='say_sberbank_mobile' data-picture='6')
            div.card
                div.card__ico
                    img(src='img/sale-1/m-sber-online.png')
                h3.card__title Мобильное&nbsp;приложение Сбербанк&nbsp;онлайн

        div.tiled-menu__tile.js-action(data-action='say_autotransfer' data-picture='9')
            div.card
                div.card__ico
                    img(src='img/sale-1/s-auto-transfer.png')
                h3.card__title Автоперевод

        div.tiled-menu__tile.js-action(data-action='say_applepay' data-picture='13')
            div.card
                div.card__ico
                    img(src='img/sale-1/smart-pay.png')
                h3.card__title Apple Pay/Android Pay

        div.tiled-menu__tile.js-action(data-action='say_sberbank_online' data-picture='7')
            div.card
                div.card__ico
                    img(src='img/sale-1/sber-online.png')
                h3.card__title Сбербанк Онлайн
