div#overlay.modal-overlay

div#modal.modal.modal_confirm
    //div.modal__close.js-action(onclick='myApp.ModalDialog.closeDialog(this)')

    div.modal__content
        p#modal-txt
            //|У вас есть еще вопросы о Сбербанке?

    div#modal-btns.modal__btns
        //button.btn.modal-btn.js-action Да
        //button.btn.btn_nope.modal-btn.js-action Нет