div#rate.content-wrap.is-hidden
    div.rate
        figure.rate-item(data-say='bye-very-good' data-action='thank')
            <svg xmlns="http://www.w3.org/2000/svg" width="80" height="80"><circle cx="40" cy="40" r="37" class="rate-ico"/><path d="M64.242,49.8A29.071,29.071,0,0,1,41,61.778,29.127,29.127,0,0,1,17.832,49.836C33.457,49.836,50.283,49.8,64.242,49.8Z"/><circle cx="25" cy="30" r="3.4" class="rate-eye"/><circle cx="55" cy="30" r="3.4" class="rate-eye"/></svg>
            figcaption.rate-item__desc Отлично

        figure.rate-item(data-say='bye-good' data-action='thank')
            <svg xmlns="http://www.w3.org/2000/svg" width="80" height="80"><circle cx="40" cy="40" r="37" class="rate-ico"/><path d="M21.058,49.425a23.629,23.629,0,0,0,37.956-.082"/><circle cx="25" cy="30" r="3.4" class="rate-eye"/><circle cx="55" cy="30" r="3.4" class="rate-eye"/></svg>
            figcaption.rate-item__desc Хорошо

        figure.rate-item(data-say='bye-normal' data-action='thank')
            <svg xmlns="http://www.w3.org/2000/svg" width="80" height="80"><circle cx="40" cy="40" r="37" class="rate-ico"/><path d="M26.583,49H52.5"/><circle cx="25" cy="30" r="3.4" class="rate-eye"/><circle cx="55" cy="30" r="3.4" class="rate-eye"/></svg>
            figcaption.rate-item__desc Так себе

        figure.rate-item(data-say='bye-bad' data-action='thank')
            <svg xmlns="http://www.w3.org/2000/svg" width="80" height="80"><circle cx="40" cy="40" r="37" class="rate-ico"/><circle cx="25" cy="30" r="3.4" class="rate-eye"/><circle cx="55" cy="30" r="3.4" class="rate-eye"/><path d="M23.6,50.972a23.625,23.625,0,0,1,32.969.15"/></svg>
            figcaption.rate-item__desc Не очень

        figure.rate-item(data-say='bye-very-bad' data-action='thank')
            <svg xmlns="http://www.w3.org/2000/svg" width="80" height="80"><circle cx="40" cy="40" r="37" class="rate-ico"/> <circle cx="25" cy="30" r="3.4" class="rate-eye" /> <circle cx="55" cy="30" r="3.4" class="rate-eye"/> <path d="M21.058,53.856a23.629,23.629,0,0,1,37.956.082"/></svg>
            figcaption.rate-item__desc Плохо

    div.button-bar