extends ../tmpl/default
include ../tmpl/parts/mixin-header

block content
    div.screen
        +header('Выберите или скажите какая операция вас интересует',false, false)

        include ../tmpl/parts/inc-start-screen

        include ../tmpl/parts/inc-action-screen

        include ../tmpl/parts/inc-tel-screen

        include ../tmpl/parts/inc-rate-screen

        include ../tmpl/parts/inc-print-screen

        include ../tmpl/parts/inc-bye-screen

        include ../tmpl/parts/inc-footer

    include ../tmpl/parts/inc-modal

block scripts
    script(src='js/screens.js')