extends ../tmpl/default
include ../tmpl/parts/mixin-header
include ../tmpl/parts/mixin-svg-use

block content
    div.screen
        +header('Выберите или скажите какая операция вас интересует',false, false)

        div.content-wrap
            div.tiled-menu
                div.tiled-menu__tile
                    div.card
                        div.card__ico
                            +svg-use('ico-payment',64,53,'r')
                        h3.card__title Платежи
                        p.card__desc Квартплата, телефон, ГИБДД и другие

                div.tiled-menu__tile
                    div.card
                        div.card__ico
                            +svg-use('ico-bankcard',81,58)
                        h3.card__title Карты
                        p.card__desc Снять или положить наличные, перевод с карты

                div.tiled-menu__tile
                    div.card
                        div.card__ico
                            +svg-use('ico-mobilebank',40,67,'h')
                        h3.card__title Мобильный банк
                        p.card__desc Подключить, редактировать

                div.tiled-menu__tile
                    div.card
                        div.card__ico
                            +svg-use('ico-autopay',64,68)
                        h3.card__title Автоплатеж
                        p.card__desc Подключить, отключить, редактировать

                div.tiled-menu__tile
                    div.card
                        div.card__ico
                            +svg-use('ico-other',64,68)
                        h3.card__title Прочие операции
                        p.card__desc Краткое описание и перечень прочих операций

        include ../tmpl/parts/inc-footer

