extends ../tmpl/default
include ../tmpl/parts/mixin-header
include ../tmpl/parts/mixin-svg-use

block content
    div.screen
        +header('Хотите решить вопрос без ожидания очереди?', true, true)

        div.content-wrap
            div.content-container
                p.mess-prim Уважаемый клиент, вы&nbsp; можете не&nbsp;ждать очереди и&nbsp;выполнить операцию в&nbsp;Личном&nbsp;кабинете. <br> Наш консультант поможет вам в&nbsp;этом

                p.mess-action Хотите продолжить обслуживание с&nbsp;консультантом?

            div.button-bar
                button.btn Помощь консультанта
                button.btn.btn_nope Спасибо, не надо

        include ../tmpl/parts/inc-footer

