extends ../tmpl/default
include ../tmpl/parts/mixin-header
include ../tmpl/parts/mixin-footer
include ../tmpl/parts/mixin-svg-use

block content
    div.screen
        +header('Пожалуйста, ожидайте очереди', true, true)

        div.content-wrap
            div.content-container
                p.mess-prim Если вы&nbsp;еще&nbsp;не&nbsp;взяли талон, то&nbsp;можете получить его&nbsp;в&nbsp;терминале на&nbsp;входе в&nbsp;отделение.

            div.button-bar
                button.btn Оцените меня
                button.btn Спросите меня

        +footer()
