extends ../tmpl/default
include ../tmpl/parts/mixin-header
include ../tmpl/parts/mixin-svg-use



block content
    div.screen
        +header('Выберите интересующие персональные предложения',true, true)

        div#offers-screen.content-wrap
            div.tiled-menu.offers
                div.tiled-menu__tile
                    div.card.offer-card
                        h3.card__title SMS-банкинг
                        p.card__desc.offer-card__desc SMS-банкинг — это услуга оповещений, которая позволяет Вам быть в курсе операций, совершенных по Вашей банковской карте или по Вашим счетам.
                        p.offer-card__more
                            a(href='#') Подробнее
                        div.offer-card__footer
                            label.check-interest
                                span Мне интересно
                                input(type='checkbox' name='sms-bank')

                div.tiled-menu__tile
                    div.card.offer-card
                        h3.card__title Услуга «Автоплатеж»
                        p.card__desc.offer-card__desc Информирование о сумме платежа перед списанием средств с вашей карты. В случае необходимости сможете отменить с помощью SMS-сообщения.
                        p.offer-card__more
                            a(href='#') Подробнее
                        div.offer-card__footer
                            label.check-interest.is-checked
                                span Мне интересно
                                input(type='checkbox' name='autopayment')

                div.tiled-menu__tile
                    div.card.offer-card
                        h3.card__title Карта с большими бонусами
                        p.card__desc.offer-card__desc Оформите банковскую карту Visa Classic с большими бонусами. Зарегистрируйтесь в бонусной программе «Спасибо от Сбербанк.
                        p.offer-card__more
                            a(href='#') Подробнее
                        div.offer-card__footer
                            label.check-interest
                                span Мне интересно
                                input(type='checkbox' name='card-bonus')

                div.button-bar
                    button.btn Распечатать

        include ../tmpl/parts/inc-footer

    include ../tmpl/parts/inc-modal

    div.offer-popup.is-open
        div.popup-close

        div#offers-slider.slider.js-slider
            div.slider__nav.nav-left
            div.slider__nav.nav-right
            div.slider__wrap
                div.slider__content
                    div.slide.offer-slide
                        div.offer-slide__title Автоплатеж: экономьте Ваше время
                        img(src='offers-pics/02.png')
                        div.offer-slide__footer
                            button.btn.btn-def Мне интересно

                    div.slide.offer-slide
                        div.offer-slide__title Автоплатеж: экономьте Ваше время
                        img(src='offers-pics/03.png')
                        div.offer-slide__footer
                            button.btn.btn-def Мне интересно

                    div.slide.offer-slide
                        div.offer-slide__title Автоплатеж: экономьте Ваше время
                        img(src='offers-pics/04.png')
                        div.offer-slide__footer
                            button.btn.btn-def Мне интересно



    script(src='js/test.js')
