extends ../tmpl/default
include ../tmpl/parts/mixin-header
include ../tmpl/parts/mixin-footer
include ../tmpl/parts/mixin-svg-use

block content
    div.screen
        +header('Задайте мне вопросы о Сбербанке', false, true)

        div.content-wrap
            div.content-container
                p.mess-prim Могу я быть еще чем-то полезен?

                p.mess-action Спросите меня. Я&nbsp;готов ответить на&nbsp;вопросы о&nbsp;Сбербанке.

            div.button-bar
                button.btn Оцените меня

        +footer('Что такое Сбербанк?')

    div.modal-overlay.is-open

    div.modal.modal_confirm
        div.modal__close

        div.modal__content
            p У вас есть еще вопросы о Сбербанке?

        div.modal__btns
            button.btn.modal-btn Да
            button.btn.btn_nope.modal-btn Нет
