extends ../tmpl/default
include ../tmpl/parts/mixin-header
include ../tmpl/parts/mixin-svg-use

block content
    div.screen
        +header('Выберите или скажите какая операция вас интересует',true, true)

        div#rate.content-wrap
            div.rate
                figure.rate-item.is-selected
                    img(src='img/super-good.png')
                    figcaption.rate-item__desc Отлично

                figure.rate-item
                    img(src='img/good.png')
                    figcaption.rate-item__desc Хорошо

                figure.rate-item
                    img(src='img/norm.png')
                    figcaption.rate-item__desc Так себе

                figure.rate-item
                    img(src='img/so-so.png')
                    figcaption.rate-item__desc Не очень

                figure.rate-item
                    img(src='img/bad.png')
                    figcaption.rate-item__desc Плохо

            div.button-bar
                button.btn Отправить оценку


        include ../tmpl/parts/inc-footer

