extends ../tmpl/default
include ../tmpl/parts/mixin-header
include ../tmpl/parts/mixin-footer
include ../tmpl/parts/mixin-svg-use

block content
    div.screen
        +header('Узнайте о персональных предложениях', true, true)

        div#get-tel.content-wrap
            div.content-container.tel-container
                p.tel-container__title Введите номер вашего телефона

                div.tel-container__body
                    div.form-col
                        label.lbl-def Номер телефона

                        input.inp-def.js-tel-mask(type='tel')

                        span.error-desc Поле обязательно для заполнения

                    button.btn.js-action(data-action='get-offers') Показать спецпредложения
                //click-offers-erorr

        +footer()
