extends ../tmpl/default
include ../tmpl/parts/mixin-header

block content
    div.screen
        +header('Цените свое время? Тогда наши услуги для вас!',false, false)

        include ../tmpl/parts/sale-1/inc-start-screen

        include ../tmpl/parts/sale-1/inc-action-screen

        include ../tmpl/parts/sale-1/inc-rate-screen

        include ../tmpl/parts/sale-1/inc-bye-screen

        include ../tmpl/parts/sale-1/inc-footer

    include ../tmpl/parts/sale-1/inc-modal
    include ../tmpl/parts/sale-1/inc-offers-popup

block scripts
    script(src='js/sale-1.js')