doctype html
html(lang="ru")
    head
        block page-title
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible" content="IE=edge, chrome=1")
        link(rel="stylesheet" href="css/style.css")
        script(src='qrc:///qtwebchannel/qwebchannel.js')
        script(src='js/promobot.js')
        script(src='js/personal-offers.js')
        script(src='js/rasterizer.js')
    body
        div.screen-wrap
            block content

        block scripts

        template#tmpl-btn
            button.btn.modal-btn

        template#tmpl-offer-card
            div.card.offer-card.tiled-menu__tile
                h3.card__title.offer-card__title
                p.card__desc.offer-card__desc
                p.offer-card__more
                    a(href='#') Подробнее
                div.offer-card__footer
                    label.check-interest.js-check-offer
                        span Мне интересно
                        input(type='checkbox' name='')

        template#tmpl-offer-slide
            div.slide.offer-slide
                div.offer-slide__title
                img(src='')
                div.offer-slide__footer
                    button.btn.btn-def.js-offer-y Мне интересно
                    button.btn.btn-def.btn_nope.js-offer-n Не интересно



