include mixin-svg-use

div.footer
    div.subtitles
        div#subtitles.subtitles__txt

        div#btn-mute.subtitles__ico.ico-mic
            img(src='img/ico-mike.png')

        //div.subtitles__ico
            +svg-use('ico-speaker',30,26)
