div#get-tel.content-wrap.is-hidden
    div.content-container.tel-container
        p.tel-container__title Введите номер вашего телефона

        div.tel-container__body
            div.form-col
                label.lbl-def Номер телефона

                div.inp-wrap
                    div.inp-wrap__prefix +7
                    input#tel.inp-def.js-tel-mask(type='tel' name='phone' placeholder='(___)__-___-__' title='Номер телефона, 10 цифр' autofocus)

                span.error-desc

            button#btn-get-tel.btn Показать спецпредложения

include inc-offers-popup