mixin svg-use(id, width, height, classname)
    - var w = '100%';
    - var h = '100%';

    if width
    -    w = width

    if height
    -    h = height

    svg(xmlns="http://www.w3.org/2000/svg" class=classname width=w height=h)
        use(xlink:href='img/img-lib.svg#'+id)