include mixin-svg-use

mixin footer(text)
    div.footer
        div.subtitles
            div.subtitles__ico
                img(src='img/ico-mike.png')

            div#subtitles.subtitles__txt=text

            //div.subtitles__ico
                +svg-use('ico-speaker',30,26)
