mixin header(title, resetBtn, exitBtn)
    div.header
        if resetBtn
            button#go-start.nav-btn В начало
        else
            button#go-start.nav-btn(hidden) В начало

        div#screen-title.screen-title=title

        if exitBtn
            button#go-end.nav-btn.exit-btn Пока!
        else
            button#go-end.nav-btn.exit-btn(hidden) Пока!

