@import "vars";
//@import "placeholders";

.footer{
    padding: 0 55px;
    background: #fff;
    box-sizing: border-box;

    display: flex;
    align-items: center;
    justify-content: center;
    flex: 0  1 100px;
}

.subtitles{
    width: 100%;
    padding: 0 60px;
    height: 60px;
    border: 1px solid #b6b8bb;
    border-radius: 5px;
    box-sizing: border-box;
    position: relative;

    display: flex;
    align-items: center;
    //justify-content: space-between;
    justify-content: center;

    &__ico{
        max-width: 30px;
        max-height: 34px;
        padding: 0 20px;
        text-align: center;
        flex-shrink: 0;

        display: flex;
        align-items: center;
        justify-content: center;

        position: absolute;

        &:first-child{
            left: 0;
        }

        &:last-child{
            right: 0;
        }
    }

    &__txt{
        font-size: 22px;
        text-align: center;

        &.is-long-txt{
            font-size: 14px;
        }
    }
}

.ico-mic{
    cursor: pointer;

    &-muted{
        &:after{
            content: '';
            width: 2px;
            height: 100%;
            background: #1A991A;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%) rotate(45deg);
            transform-origin: 50% 50%;
        }
    }
}
