@import "vars";
//@import "placeholders";


//position:absolute для кнопок nav-btn вынужденно, так же как для иконок в блоке субтитров
//это быстро и просто :-\
.header{
    padding: 0 calc(55px + 130px);
    background: #fff;
    border-bottom: 1px solid #cfd1d5;
    box-sizing: border-box;
    position: relative;

    display: flex;
    align-items: center;
    justify-content: center;
    flex: 0 1 100px;

    .screen-title{
        //width: 100%;
        font-size: $fz-title;
        text-align: center;
    }

    .nav-btn{
        @extend %button;

        min-width: 130px;
        height: 45px;
        line-height: .7;
        background: #58972D;

        position: absolute;

        &:first-child{
            left: 55px;
        }

        &:last-child{
            right: 55px;
        }

        &.exit-btn{
            background: $color-btn-orange;

            &:active{
                background: #F3942E;
            }

            &:disabled{
                background: #C1C5C7;
            }
        }
    }
}



