@import "vars";


%button{
    padding: 0;
    font-family: 'sero-medium', Arial, sans-serif;
    font-size: 18px;
    border: 0;
    border-radius: 30px;
    background: $color-green-btn;
    color: #fff;
    user-select: none;
    -webkit-user-drag: none;

    &:focus,
    &:active{
        box-shadow: none;
        outline: 0;
    }
}

%message{
    text-align: center;
    line-height: 1.4;
}


%flex-wrapper{
    display: flex;
    flex-direction: column;
 //   flex-wrap: wrap;
}