$paths: (
    font: '../fonts/'
);

$max-screen-height: 800px - 32;

//-colors---
$color-def: #41454a;
$color-bg: #ebedef;
$color-green-btn: #59982e;
$color-btn-orange: #EBAA2A;
//-colors---

//-font size----
$fz-title: 30px;
$fz-default: 26px;
$fz-small: 15px;
//-font size----

//-size, padding, margins-----
$input-height: 30px; //1px tob/bottom border + box-sizing: border-box
$def-hspace: 2rem;
$grid-gutter: 10px;
//-size, padding, margins-----
