@import-normalize;

@import "vars";
@import "placeholders";

@font-face {
    font-family: "Arial";
    src: url(../fonts/Arial.ttf) format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: 'sero';
    src: url(../fonts/SeroPro.woff) format("woff");
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: 'sero-medium';
    src: url(../fonts/SeroPro-Medium.woff) format("woff");
    font-style: normal;
    font-weight: 400;
}

html,body{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: sero, Arial, sans-serif;
    font-size: $fz-default;
    color: $color-def;
    background: $color-bg;
    position: relative;
}

@import "header";

.screen-wrap{
    @extend %flex-wrapper;
}

// обертка экрана, включает шапку, контент, подвал
.screen{
    @extend %flex-wrapper;

    height: 100vh;

    //display: grid;
    //grid-template-columns: 100%;
    //grid-template-rows: 100px 1fr 100px;
}

.content-wrap{
    @extend %flex-wrapper;
    //display: flex;
    //flex-direction: column;
    align-items: center;
    justify-content: space-between;
    flex: 1 3 100%;
}

svg, img, h1,h2,h3,p,div{
    user-select: none;
    -webkit-user-drag: none;
}

.tiled-menu{
    width: 330px * 3 + 20px * 2;
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    &.sale-1-menu{
        width: 270px * 4 + 20px * 3;
    }

    &__tile{
        width: 330px;
        min-height: 220px;
        margin-right: 20px;
        text-decoration: none;
        color: inherit;
        display: block;

        @at-root .small-tiles &{
            width: 270px;
        }

        @at-root .sale-1-menu &{
            &:nth-child(3n + 3){
                margin-right: 20px;
            }

            &:nth-child(4n + 4){
                margin-right: 0
            }

            &:nth-child(n + 4){
                margin-top: 0;
            }

            &:nth-child(n + 5){
                margin-top: 20px;
            }
        }

        &:nth-child(3n + 3){
            margin-right: 0;
        }

        &:nth-child(n + 4){
            margin-top: 20px;
        }
    }
}

.card{
    padding: 30px;
    background: #fff;
    box-shadow: 0 2px 7px rgba(0, 0, 0, 0.35);
    border-radius: 4px;
    text-align: center;
    box-sizing: border-box;

    @at-root .tiled-menu &{
        height: 100%;
        display: flex;
        flex-direction: column;

        &__desc{
            flex-grow: 5;
        }
    }

    @at-root .tiled-menu.sale-1-menu &{
        height: 100%;
        padding-left: 20px;
        padding-right: 20px;
        display: flex;
        flex-direction: column;

        &__ico{
            margin-bottom: 20px;
        }

        &__title{
            line-height: 1.2;
            margin: 0;
        }

        &__desc{
            flex-grow: 5;
        }
    }

    @at-root .tiled-menu__tile:active &{
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.35);
    }

    &__ico{
        //width: 64px;
        height: 67px;
        margin: 0 auto .4em;
        font-size: 20px;
    }

    &__title{
        margin: 0 0 .4em;
        font-family: sero-medium, Arial, sans-serif;
        font-size: 20px;
        font-weight: 400;
        line-height: 1.7;
    }

    &__desc{
        margin: 0;
        font-size: $fz-small;
        line-height: 1.2;
    }
}

.btn{
    @extend %button;

    font-family: sero-medium, Arial, sans-serif;
    border: 2px solid $color-green-btn;
    box-sizing: border-box;

    &-def{
        min-width: 300px;
        height: 60px;
    }

    &:active{
        background: #118F12;
        border-color: #118F12;
    }

    &:disabled{
        background: #C1C5C7;
        border-color: #C1C5C7;
    }

    &_nope{
        background: none !important;
        color: $color-def;

        &:active{
            border-color: #118F12;
        }

        &:disabled{
            color: #C1C5C7;
            border-color: #C1C5C7;
        }
    }
}

.content-container{
    //width: calc(100% - 110px);
    width: 640px;
    margin-top: 140px;
}

.mess-prim{
    @extend %message;

    margin: 0;
    font-family: sero-medium, Arial, sans-serif;
    font-weight: 400;
}

.mess-action{
    @extend %message;

    margin: 1em 0 0;
    text-align: center;
    line-height: 1.4;
}

.button-bar{
    width: calc(100% - 110px);
    margin-bottom: 30px;
    text-align: center;

    .btn{
        min-width: 300px;
        height: 60px;
        margin: 0 15px;
        line-height: .7;
    }
}

.is-hidden{
    display: none !important;
}

//------rate----
.rate{
    margin-top: 160px;
    display: flex;
}

.rate-item{
    margin: 0 66px 0 0;
    padding: 0;
    font-size: 18px;
    font-family: sero-medium, Arial, sans-serif;
    text-align: center;

    position: relative;

    &:after{
        content: '';
        width: 48px;
        height: 3px;
        right: -8px;
        background: #bfc5cb;
        transform: translateX(100%);
        position: absolute;
        top: 39px;
        border: 1px;
    }

    svg{
        width: 84px;
        height: 84px;
        fill: none;
        box-sizing: border-box;

        .rate-ico{
            stroke: #58992A;
            stroke-width: 5px;
            fill: none;
        }

        .rate-eye{
            fill: #58992A
        }

        path{
            fill: none;
            stroke: #58992A;
            stroke-width: 5px;
            stroke-linecap: round;
            stroke-linejoin: round;
            fill-rule: evenodd;
        }
    }

    &.is-selected{
        svg{

            .rate-eye{
                fill: #EBAA2A
            }

            .rate-ico,
            path{
                stroke: #EBAA2A;
            }

        }
    }

    &:last-child{
        margin-right: 0;

        &:after{
            display: none;
        }
    }

    &__desc{
        margin-top: .8em;
    }
}
//------rate----

//------offers get tel screen----

.tel-container{
    width: auto;

    &__title{
        margin: 0 0 1.6em;
    }

    &__body{
        width: 400px;

        .inp-def{
            width: 100%;
        }

        .btn{
            width: 100%;
            height: 60px;
            margin-top: 40px;
        }
    }
}

.lbl-def{
    display: inline-block;
    font-size: 18px;
    line-height: 1.67;
    color: #5b6065;
}

.inp-def{
    height: 60px;
    padding: .2em .5em 0;
    font-family: inherit;
    font-size: 24px;
    border-radius: 5px;
    background-color: #fff;
    border: solid 1px #cfd3d6;
    box-sizing: border-box;

    box-shadow: none;
    outline: none;

    &.inp-error{
        border-color: #ed1c24;
    }

    @at-root .col-error &{
        border-color: #ed1c24;
    }
}

.inp-wrap{
    display: inline-flex;
    position: relative;

    &__prefix{
        font-family: inherit;
        font-size: 24px;
        position: absolute;
        left: .5em;
        top: calc(50% + .07em);
        transform: translateY(-50%);
    }

    .inp-def{
        padding-left: 1.66em;
    }
}

.form-col{
    position: relative;

    .error-desc{
        font-size: $fz-small;
        color: #ef1616;
        position: absolute;
        top: calc(100% + 6px);
        left: 0;
        display: none;
    }

    &.col-error{
        .error-desc{
            display: block;
        }
    }
}

//------offers get tel screen----

//-----offer card-------------
.offers{

    &.tiled-menu{

        .offer-card{
            height: auto;
        }
    }
}

.offer-card{

    &__title{
        line-height: 1.2;
        margin-bottom: .5em;
    }

    &__desc{
        text-align: left;
        flex-grow: 5;
    }

    &__more{
        margin-top: 1.6em;
        text-align: left;
        flex-grow: 5;

        a{
            font-family: sero-medium, Arial, sans-serif;
            color: #1a991a;
            font-size: 18px;
            text-decoration: underline;
        }
    }

    &__footer{
        margin: 40px -30px -30px;
        border-top: 1px solid rgba(0,0,0,.4);
        padding: 20px 30px;
        font-size: 18px;
        font-family: sero-medium, Arial, sans-serif;
        font-weight: 500;
    }
}

.check-interest{
    position: relative;
    cursor: pointer;
    user-select: none;
    -webkit-user-drag: none;
    -webkit-tap-highlight-color: rgba(0,0,0,0);

    input{
        position: absolute;
        z-index: -1;
        visibility: hidden;
    }

    &:before{
        content: '';
        width: 45px;
        height: 45px;
        margin-right: $fz-small;
        display: inline-block;
        vertical-align: middle;
        //background: url(../img/check.png) 50% 50% no-repeat;
        background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='22.438' height='15.469' viewBox='0 0 22.438 15.469'%3E%3Cpath style='fill: none;stroke: %23c1c5c7;stroke-linecap: round;stroke-linejoin: round;stroke-width: 4px;fill-rule: evenodd;' d='M537.1,522.307L525.571,533.8l-6.932-6.894' transform='translate%28-516.656 -520.344%29'/%3E%3C/svg%3E%0A") 50% 50% no-repeat;
        border: 2px solid #C2C5C7;
        border-radius: 60%;
        box-sizing: border-box;
    }

    &.is-checked,
    &:checked{
        &:before{
            border-color: #1a991a;
            //background: #1a991a url(../img/check-a.png) 50% 50% no-repeat;
            background: #1a991a url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='22.438' height='15.469' viewBox='0 0 22.438 15.469'%3E%3Cpath style='fill: none;stroke: %23ffffff;stroke-linecap: round;stroke-linejoin: round;stroke-width: 4px;fill-rule: evenodd;' d='M537.1,522.307L525.571,533.8l-6.932-6.894' transform='translate%28-516.656 -520.344%29'/%3E%3C/svg%3E%0A") 50% 50% no-repeat;
        }
    }

}
//-----offer card-------------

//----print screen---------------
#print-screen{
    .content-container{
        margin: auto;
    }
}
//----print screen---------------

//-----bye screen---
#bye-screen{
    .content-container{
        margin: auto;
    }
}

.anim-slot{
    //width: 240px;
    //height: 240px;
    margin: 0 auto 45px;
    text-align: center;
    //background: #fff;
}
//-----bye screen---

@import "footer";
@import "modal-windows";

//TODO: запрет перетаскивания объектов на экране

.char-test{
    position: fixed;
    white-space: nowrap;
    font-family: inherit;
    font-size: 22px;
}

@import "popup";